.user-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --min-height: 43px;
    --padding-start: 0px;
    padding-left: 45px;
    padding-right: 90px;
}

.test{
    padding-top: 15px;
    padding-bottom: 15px
}

ion-footer ion-toolbar {
    --background: #F6F6F6;
    background-color: #F6F6F6;

    ion-textarea {
        margin-top: 6px;
        margin-bottom: 6px;
        background-color: var(--ion-color-light-tint);
        border-radius: 20px;
        --padding-start: 10px;
    }
}

.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message {
    background: var(--ion-color-light);
    color: #fff
}

.my-message {
    background: var(--ion-color-primary);
    color: #fff
}

.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}
