#registerBtn{
    margin-left: 35vw;
    margin-right: 35vw;
}

#registerText{
    margin-bottom: 12px; 
    margin-top: 25px;
    color: rgb(165, 165, 165);
}

#forgotPasswordText{
    color: var(--ion-color-primary);
}

#qrLoginText{
    margin-left: 6.5px;
}

ion-card-header{
    padding-bottom: 0;
}

ion-header{
    margin-top: 4vh; 
    margin-bottom: 3.2vh
}

ion-img{
    width: 170px; 
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

ion-card{
    margin-left: 35vw;
    margin-right: 35vw;
}

ion-card-title{
    font-size: 30px;
}

ion-item{
    font-size: 20px;
}

ion-button, #forgotPasswordText{
    font-size: 18px;
}

zxing-scanner::ng-deep video {
    width: 30vw;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ion-item{
    --background: transparent;
}

@media only screen and (max-width: 850px) {
    ion-card-title{
        font-size: 20px;
    }

    zxing-scanner::ng-deep video {
        max-height: 70vh;
        width: 100vw;
        object-fit: contain;
    }
    
    ion-item{
        font-size: 16px;
    }
    
    ion-button, #forgotPasswordText{
        font-size: 14px;
    }

    #registerBtn{
        margin: 12px;
    }

    ion-card{
        margin-left: 12.5px;
        margin-right: 12.5px;
    }

    ion-img{
        width: 115px; 
        margin: auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
    }
  }