<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="ion-padding">
    <ion-icon name="menu-outline" slot="start"></ion-icon>
    <ion-title>GigaChat</ion-title>
    <ion-icon name="camera-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs ion-padding">
    <ion-segment value="chats" (ionChange)="segmentChange($event)">
      <ion-segment-button value="chats">
        <ion-label>Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="chat-list" *ngIf="activeTab == 'chats'">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <h1>Recent Chats</h1>
        <ion-icon name="search-sharp"></ion-icon>
      </div>
      <div class="chats">
        <ion-item lines="none" (click)="openChat('5RC14gRWLT4DUZwMESIz')">
         <ion-avatar slot="start">
           <img src="https://i.pravatar.cc/300" />
         </ion-avatar>
         <ion-label class="ion-text-nowrap">
           <h2>Bella</h2>
           <p>Typing...</p>
         </ion-label>
         <div class="info-div">
           <p>2:13</p>
         </div>
        </ion-item>
        <ion-item lines="none" (click)="openChat()">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/320" />
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Mom</h2>
            <p>Don't forget to use your mask</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" (click)="openChat()">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/324" />
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Victoria</h2>
            <p>I'm out, wait for a few mins</p>
          </ion-label>
          <div class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p>2:13</p>
          </div>
        </ion-item>
        <ion-item lines="none" (click)="openChat()">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/327" />
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Bee</h2>
            <p>Ok, Take Care!</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>2</ion-badge>
            <p>4:10</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
  <div class="filler"></div>
  <ion-fab-button>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-content>
